<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="linsr.com.androidtest">

    <permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".old.StatusBarActivity"
            android:theme="@style/translucent"/>
        <activity android:name=".receiver.ReceiverTestActivity"/>
        <activity android:name=".old.MainActivity"/>
        <activity android:name=".dispatch.DispatchTestActivity"/>
        <activity android:name=".dispatch.chain.ChainTestActivity"/>
        <activity android:name=".handler.HandlerTestActivity"/>
        <activity android:name=".dispatch.conflict.InterceptActivity"/>
        <activity android:name=".livedata.LiveDataDemoActivity" />
        <activity android:name=".loader.LoaderTestActivity" />
        <activity android:name=".file.WriteLogActivity" />

        <service android:name=".old.SmsService"/>

        <provider
            android:name=".loader.CP"
            android:authorities="linsr.com.aaaa"
            android:exported="false"/>
    </application>

</manifest>